.header {
    background-color: $navbarColour;
    color: $navbarTextColour;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $backgroundColour;
}

.header-text {
    font-size: $headingFontSize;
    line-height: $headingLineHeight;
    padding: 16px;
}