#mapContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.mapTile {
    align-content: center;
    border: 1px solid #333;
    display: flex;
    flex-basis: 1;
    margin:0;
    width: 100px;
    height: 100px;

    background-repeat:none;
    background-size: contain;
}

.plains, .terrain0 {
  background-image: url("http://awbw.amarriner.com/terrain/aw1/plain.gif");
}

.woods, .terrain1 {
  background-image: url("http://awbw.amarriner.com/terrain/aw1/wood.gif");
}
