$primaryBrandColour: black;
$secondaryBrandColour: pink;

$textColour: $primaryBrandColour;
$backgroundColour: $secondaryBrandColour;
$navbarColour: $primaryBrandColour;
$navbarTextColour: $secondaryBrandColour;

$headingFontSize: 24px;
$headingLineHeight: 28px;
$subHeadingFontSize: 20px;
$subHeadingLineHeight: 24px;
$textFontSize: 14px;
$textLineHeight: 18px;