<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WebWar</title>
  <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>
<body>
  <div class="header">{{> header }}</div>
  <div class="content-container">
    <div class="content">{{{body}}}</div>
    <div class="navbar">{{> navbar }}</div>
  </div>
</body>
</html>
