<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WebWar</title>
  <link rel="stylesheet" type="text/css" href="/public/style.css" />
</head>
<body>
  {{{body}}}
  <script src="/public/bundle.js"></script>
  {{#each scripts}}
  <script src="/public/{{this}}.js"></script>
  {{/each}}
</body>
</html>
