<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>WebWar</title>
</head>
<body>
  {{{body}}}
  {{#each scripts}}
  <script src="/public/{{this}}.js"></script>
  {{/each}}
</body>
</html>
