<div class="mapContainer">
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile woods"></div>
    <div class="mapTile woods"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile woods"></div>
</div>

        <label for="loadMap">Load saved map</label>
        <button id="loadMap" type="submit">clicky</button>
