<script src="/public/mapGrid.bundle.js"></script>
<div id="mapContainer" style="height: 300px;width: 300px;">
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile woods"></div>
    <div class="mapTile woods"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile plains"></div>
    <div class="mapTile woods"></div>
</div>

<label for="loadMap">Load saved map</label>
<button id="loadMap" type="submit">clicky</button>

<label for="loadUnits">Load army</label>
<button id="loadUnits" type="submit">clicky</button>


<div id="div1"></div>
