<div class="navbar-list">
    <a class="navbar-item" href="/">Home</a>
    <a class="navbar-item" href="/map">Map</a>    
    <a class="navbar-item" href="/games/create">Create a Game</a>
    <a class="navbar-item" href="/games/waiting">Waiting Games</a>
    <a class="navbar-item" href="/games/inProgress">In Progress Games</a>
    <a class="navbar-item" href="/games/finished">Finished Games</a>
</div>