<script src="/public/login.bundle.js"></script>
{{#if loggedIn}}
	<div>Hello {{username}}</div> <button id='logout-button'>Log out</button>
{{else}}
	<button id='login-button'>Login</button>
{{/if}}